/* line 3, ../sass/player/_player.scss */
.container {
  color: #ffffff;
  margin: 50px auto;
  width: 50%;
  background: #000000;
  min-height: 300px;
}
/* line 9, ../sass/player/_player.scss */
.container audio {
  width: 100%;
  height: 33px;
}
/* line 13, ../sass/player/_player.scss */
.container .playlistContainer {
  padding: 10px;
}
/* line 15, ../sass/player/_player.scss */
.container .playlistContainer .grid {
  min-height: 250px;
}
/* line 17, ../sass/player/_player.scss */
.container .playlistContainer .grid table {
  width: 100%;
}
/* line 19, ../sass/player/_player.scss */
.container .playlistContainer .grid table tr.selected {
  background: green;
}
/* line 21, ../sass/player/_player.scss */
.container .playlistContainer .grid table tr.selected td {
  border-right: green;
}
/* line 25, ../sass/player/_player.scss */
.container .playlistContainer .grid table td {
  cursor: pointer;
}
/* line 27, ../sass/player/_player.scss */
.container .playlistContainer .grid table td button {
  cursor: pointer;
}
/* line 33, ../sass/player/_player.scss */
.container .playlistContainer button {
  float: right;
}
/* line 36, ../sass/player/_player.scss */
.container .playlistContainer .clearBoth {
  clear: both;
}
